<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout2}">

<div layout:fragment="content"
	class="d-flex align-items-center justify-content-center vh-80 ">

	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				
				<h1>500 - 서버 오류</h1>
			    <p>서버에서 오류가 발생했습니다. 잠시 후 다시 시도해 주세요.</p>
			    <a href="/">홈으로 돌아가기</a>
			    
			    
			</div>
		</div>
	</div>

</div>
</html>
